:root {
    --color-primary: #6e2142f6;
    --color-primary-trans: #6e2142b2;
    --color-light: #943855;
    --color-warm: #e16363;
    --color-bright: #271a05;
    --color-blacks: #a02755;
}

html {
    background: url('./img/background.png');
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
    width: 100vw;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Amatic SC', cursive;
}


/* #region --- Nav --- */
nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.cart-btn {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: .1rem;
    margin-top: .5rem;
    margin-right: .5rem;

    display: flex;
    align-items: center;
}

.cart-btn__img {
    width: 2rem;
}

/* #endregion --- Nav --- */


/* #region --- Brand --- */
.brand {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand__head,
.brand__subtitle {
    color: var(--color-primary);
    margin: 0 !important;
}

.brand__head {
    font-size: 4.2rem;
    /* letter-spacing: .2em; */
}

.brand__subtitle {
    font-size: 2.2rem;
    font-family: 'Amatic SC', cursive;
    margin-top: -.75em !important;
}

/* #endregion --- Brand --- */

.search {
    font-family: 'Acme', sans-serif;
    color: #5a5a5a;
    letter-spacing: 0.1em;

    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    width: 90vw;
    margin: 5vw;
    margin-bottom: .75rem;
    padding: .5rem;
}

#page-index__create-link-container,
#page-index__boxes-link-container {
    width: 100vw;
    height: 12rem;
    margin-bottom: .3rem;
    border-radius: 2px;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page-index__boxes-link-container {
    background-image: url('./img/fruits.jpg')
}

#page-index__create-link-container {
    background-image: url('./img/fru.jpg')
}

#page-index__create-link,
#page-index__boxes-link {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
    /* background-color: var(--color-primary-trans); */
    /* margin: 1rem; */
    width: max-content;
    padding: .5em;
}

@media(min-width: 400px) {

    .cart-btn {
        padding: .1rem 0;
    }

    .cart-btn__img {
        width: 2.5rem;
    }

    #page-index__create-link-container,
    #page-index__boxes-link-container {
        height: 14rem;
    }

    #page-index__create-link,
    #page-index__boxes-link {
        padding: 1rem;
    }
}

@media(min-width: 600px) {
    .cart-btn {
        margin-top: .75rem;
        margin-right: .75rem;
        padding: .2rem 0;
    }

    .cart-btn__img {
        width: 3rem;
    }

    .search {
        margin-top: .5rem;
    }

    #page-index__create-link-container,
    #page-index__boxes-link-container {
        height: 14rem;
    }

    #page-index__create-link-container,
    #page-index__boxes-link-container {
        height: 16rem;
    }

    #page-index__create-link,
    #page-index__boxes-link {
        padding: 1.25rem;
    }
}