:root {
    --color-primary: #6e2142f6;
    --color-primary-trans: #6e2142b2;
    --color-light: #943855;
    --color-warm: #e16363;
    --color-blacks: #66440d;
    --color-brights: #a02755;
}

html {
    background: url("./img/background.png");
    background-attachment: fixed;
    font-family: "Acme", sans-serif;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 900px;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2,
footer {
    color: var(--color-blacks);
}

.pc-display {
    display: none;
}

p {
    margin: 0;
}

main {
    font-family: "Amatic SC", cursive;
}

/* #region Index */
.mobile-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #region --- Nav --- */
nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.cart-btn {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 0.1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    display: flex;
    align-items: center;
}

.cart-btn__img {
    width: 2rem;
}

/* #endregion --- Nav --- */

/* #region --- Brand --- */
.brand {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand__head,
.brand__subtitle {
    color: var(--color-primary);
    margin: 0 !important;
}

.brand__head {
    font-size: 4.2rem;
    /* letter-spacing: .2em; */
}

.brand__subtitle {
    font-size: 2.2rem;
    font-family: "Amatic SC", cursive;
    margin-top: -0.75em !important;
}

/* #endregion --- Brand --- */

/* #region Search */
.search {
    font-family: "Acme", sans-serif;
    color: #5a5a5a;
    letter-spacing: 0.1em;

    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    width: 90vw;
    margin: 5vw;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 2px 0px var(--color-primary);
}

/* #endregion Search */

/* #region Main */
.mobile-display main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-index__create-link-container,
#page-index__boxes-link-container {
    width: 100vw;
    height: 45%;
    border-radius: 2px;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page-index__boxes-link-container {
    background-image: url("./img/fruits.jpg");
    margin-bottom: 1rem;
}

#page-index__create-link-container {
    background-image: url("./img/fru.jpg");
}

#page-index__create-link,
#page-index__boxes-link {
    text-decoration: none;
    font-family: "Acme", sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
    /* background-color: var(--color-primary-trans); */
    /* margin: 1rem; */
    width: max-content;
    padding: 0.5em;
}

/* #endregion Main */

.mobile-display footer {
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 0.3rem;
}

/* #endregion Index */

/* #region Media Queries */
/* @media (min-width: 400px) { */
.cart-btn {
    padding: 0.1rem 0;
}

.cart-btn__img {
    width: 2.5rem;
}

#page-index__create-link-container,
#page-index__boxes-link-container {
    height: 14rem;
}

#page-index__create-link,
#page-index__boxes-link {
    padding: 1rem;
}

/* } */

@media (min-width: 600px) {
    .cart-btn {
        margin-top: 0.75rem;
        margin-right: 0.75rem;
        padding: 0.2rem 0;
    }

    .cart-btn__img {
        width: 3rem;
    }

    .search {
        margin-top: 0.5rem;
    }

    #page-index__create-link-container,
    #page-index__boxes-link-container {
        height: 14rem;
    }

    #page-index__create-link-container,
    #page-index__boxes-link-container {
        height: 16rem;
    }

    #page-index__create-link,
    #page-index__boxes-link {
        padding: 1.25rem;
    }
}

@media (min-width: 724px) {
    body {
        max-height: 1150px;
    }

    .mobile-display {
        display: none;
    }

    .pc-display {
        display: flex;
        width: 100vw;
        max-width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    /* _________________Sidebar_______________________ */
    .pc-sidebar {
        min-height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-bottom: 0;

        box-shadow: 0 1px 6px 0px var(--color-primary);
    }

    .pc-nav {
        flex: 1;
        padding-left: 2.2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand__head {
        font-size: 5rem;
    }

    .brand__subtitle {
        font-size: 2.75rem;
    }

    .pc-nav .nav-link {
        margin: 1rem 0;
        color: gray;
        text-decoration: none;
    }

    .aside-img {
        width: 12rem;
        margin: 0 auto;
    }

    footer {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
    }

    /* _________________Sidebar_______________________ */

    /* _________________Main_______________________ */
    .pc-main {
        padding-top: 3.5rem;
        padding-left: 2rem;
        flex: 1;
    }

    /* ------header------ */
    .pc-header {
        flex: 1;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .search {
        /* margin-top: .5rem; */
        width: 23rem;
        margin: 1rem;
        margin-left: 0;
    }

    .pc-display .cart-btn {
        padding-right: 0.1rem;
        margin-bottom: 1rem;
        width: 2rem;
    }

    .cart-btn__img {
        width: 2rem;
    }

    /* ------header------ */

    /* ------Browse-Box------ */
    .browse-types-container {
        display: flex;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 13rem;
        height: 6rem;
        border-radius: 5px;
    }

    #page-index__boxes-link-container {
        margin-right: 0.5rem;
    }

    /* ------Browse-Box------ */

    /* ------Recommended-Box------ */
    .recommended-boxes {
        margin-top: 2rem;
    }

    .recommended-body {
        /* height: 8rem; */
        overflow-y: scroll;
    }

    .recommended-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .recommended-box {
        margin-right: 1rem;
        /* border: 1px solid rgba(128, 128, 128, 0.473); */
        border-radius: 5px;
        padding: 1rem 0.25rem;
        cursor: pointer;
    }

    .recommended-box:hover {
        border: 1px solid rgba(128, 128, 128, 0.473);
    }

    .recommeded-box-img {
        width: 11rem;
    }

    .recommended-box-details {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        margin-top: -0.5em;
    }

    .recommended-box-title {
        font-family: Acme, sans-serif;
        color: gray;
    }

    .recommended-box-price {
        color: var(--color-warm);
        font-size: 1.25em;
        font-weight: bold;
    }

    /* ------Recommended-Box------ */
    /* _________________Main_______________________ */
}

@media (min-width: 800px) {
    .search {
        width: 28rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 15.25rem;
        height: 8rem;
    }

    .recommeded-box-img {
        width: 9rem;
    }
}

@media (min-width: 850px) {
    .search {
        width: 30rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 16.5rem;
        height: 9rem;
    }

    .recommeded-box-img {
        width: 10rem;
    }
}

@media (min-width: 900px) {
    .search {
        width: 34rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 18.25rem;
        height: 11rem;
    }

}

@media (min-width: 950px) {
    .search {
        width: 36rem;
    }

    .recommended-boxes {
        margin-right: 2rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 19.5rem;
    }
}

@media (min-width: 1000px) {
    .search {
        width: 40rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 21.5rem;
        height: 10rem;
    }

    .recommeded-box-img {
        width: 11rem;
    }
}

@media (min-width: 1050px) {
    .search {
        width: 42rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 22.5rem;
        height: 11rem;
    }

    .recommeded-box-img {
        width: 11.5rem;
    }
}

@media (min-width: 1100px) {
    .search {
        width: 45rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 24rem;
        height: 12rem;
    }

    .recommeded-box-img {
        width: 12rem;
    }
}

@media (min-width: 1150px) {
    .search {
        width: 48rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 25.5rem;
    }

    .recommeded-box-img {
        width: 13rem;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1.5rem;
    }

    .pc-main {
        padding-left: 3rem;
    }

    .search {
        width: 50rem;
        font-size: 0.8em;
    }

    .pc-display .cart-btn {
        width: initial;
        margin-bottom: 0.75rem;
    }

    .cart-btn__img {
        width: 2.65rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 26.75rem;
    }

    #page-index__create-link,
    #page-index__boxes-link {
        font-size: 1.3em;
    }

    .recommeded-box-img {
        width: 15rem;
    }
}

@media (min-width: 1250px) {
    .brand__head {
        font-size: 5.5rem;
    }

    .brand__subtitle {
        font-size: 3rem;
    }

    .search {
        width: 53rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 28.2rem;
        height: 15rem;
    }
}

@media (min-width: 1300px) {
    .aside-img {
        width: 14rem;
    }

    footer {
        font-size: 1rem;
    }

    .search {
        width: 55rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 29.25rem;
    }
}

@media (min-width: 1350px) {
    .search {
        width: 58rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 30.5rem;
    }

    .recommeded-box-img {
        width: 17rem;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 1.5rem;
    }

    .brand__head {
        font-size: 7.5rem;
    }

    .brand__subtitle {
        font-size: 4rem;
    }

    .aside-img {
        width: 16rem;
    }

    footer {
        font-size: 1.3rem;
    }
}

@media (min-width: 1450px) {
    .search {
        width: 62rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 32.5rem;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }

    .search {
        width: 65rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 34.2rem;
        height: 18rem;
    }

    .recommeded-box-img {
        width: 19rem;
    }
}

@media (min-width: 1550px) {
    .search {
        width: 67rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 35.2rem;
    }

    .recommeded-box-img {
        width: 19rem;
    }
}

@media (min-width: 1660px) {
    body {
        font-size: 2rem;
    }

    .brand__head {
        font-size: 8rem;
    }

    .brand__subtitle {
        font-size: 4.5rem;
    }

    .aside-img {
        width: 20rem;
    }

    .search {
        padding-left: 1rem;
        font-size: 2rem;
        width: 70rem;
    }

    .pc-display .cart-btn {
        margin-bottom: 0.75rem;
    }

    .cart-btn__img {
        width: 3.8rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 37.25rem;
        height: 22rem;
    }

    .recommeded-box-img {
        width: 23rem;
    }
}

@media (min-width: 1980px) {
    body {
        font-size: 2rem;
    }

    .pc-main {
        padding-left: 3rem;
    }

    .search {
        width: 85rem;
    }

    .pc-display .cart-btn {
        margin-bottom: 0.75rem;
    }

    .cart-btn__img {
        width: 3.8rem;
    }

    #page-index__boxes-link-container,
    #page-index__create-link-container {
        width: 44.5rem;
        height: 25rem;
    }

    .recommeded-box-img {
        width: 26rem;
    }
}

@media (min-width: 2150px) {
    .recommended-boxes {
        margin-right: 10rem;
    }
}

@media (min-width: 2300px) {
    .recommended-boxes {
        margin-right: 17rem;
    }
}

@media (min-width: 2450px) {
    .recommended-boxes {
        margin-right: 25rem;
    }
}

@media (min-width: 2450px) {
    .recommended-boxes {
        margin-right: 30rem;
    }
}